In [2]:
pip install kafka-python

Collecting kafka-python
  Using cached kafka_python-2.0.2-py2.py3-none-any.whl.metadata (7.8 kB)
Using cached kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import json
from kafka import KafkaConsumer

if __name__ == "__main__":
#     consumer = KafkaConsumer("ftde02-project4", bootstrap_servers='34.142.138.97')
    consumer = KafkaConsumer("ftde02-project4", bootstrap_servers='localhost:9093')
    print("Starting the consumer")
    
    for msg in consumer:
        print(f"Records = {json.loads(msg.value)}")
        
        # Parsing pesan Kafka
        data = json.loads(msg.value)

Starting the consumer
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 44443.08, 'nameOrig': 'C269892014', 'newbalanceOrig': 0.0, 'nameDest': 'C1590550415', 'newbalanceDest': 19169204.93}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 34729.64, 'nameOrig': 'C1280641161', 'newbalanceOrig': 0.0, 'nameDest': 'C1435804085', 'newbalanceDest': 96.88}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 105979.34, 'nameOrig': 'C489411441', 'newbalanceOrig': 0.0, 'nameDest': 'C736709391', 'newbalanceDest': 46820.71}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 57794.61, 'nameOrig': 'C1141113940', 'newbalanceOrig': 0.0, 'nameDest': 'C240650537', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 15918.79, 'nameOrig': 'C1711185459', 'newbalanceOrig': 0.0, 'nameDest': 'C1854778591', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 19162.08, 'nameOrig': 'C25936709', 'newbalanceOrig': 0.0, 'nameDest': 'C885951223', 'newbalanceDest': 215851.28}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 220691.42, 'nameOrig': 'C1123559518', 'newbalanceOrig': 0.0, 'nameDest': 'C1590550415', 'newbalanceDest': 19169204.93}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 9536.54, 'nameOrig': 'C649769713', 'newbalanceOrig': 0.0, 'nameDest': 'C1060830840', 'newbalanceDest': 130747.56}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 29784.06, 'nameOrig': 'C925150995', 'newbalanceOrig': 0.0, 'nameDest': 'C920011586', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 190445.51, 'nameOrig': 'C1760219993', 'newbalanceOrig': 0.0, 'nameDest': 'C1360767589', 'newbalanceDest': 2107965.39}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 57279.11, 'nameOrig': 'C1800649922', 'newbalanceOrig': 0.0, 'nameDest': 'C824009085', 'newbalanceDest': 64106.18}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 112086.81, 'nameOrig': 'C403547747', 'newbalanceOrig': 0.0, 'nameDest': 'C1531333864', 'newbalanceDest': 55974.56}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 80311.89, 'nameOrig': 'C172215878', 'newbalanceOrig': 0.0, 'nameDest': 'C434091818', 'newbalanceDest': 63112.23}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 151829.91, 'nameOrig': 'C873309260', 'newbalanceOrig': 0.0, 'nameDest': 'C1023714065', 'newbalanceDest': 1412484.09}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 26004.52, 'nameOrig': 'C1112456099', 'newbalanceOrig': 0.0, 'nameDest': 'C1225616405', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 3146.16, 'nameOrig': 'C923083575', 'newbalanceOrig': 0.0, 'nameDest': 'C1504109395', 'newbalanceDest': 593737.38}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 296752.75, 'nameOrig': 'C589363823', 'newbalanceOrig': 0.0, 'nameDest': 'C1531333864', 'newbalanceDest': 55974.56}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 191702.06, 'nameOrig': 'C2052457859', 'newbalanceOrig': 0.0, 'nameDest': 'C985934102', 'newbalanceDest': 971418.91}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 365510.05, 'nameOrig': 'C1299327689', 'newbalanceOrig': 0.0, 'nameDest': 'C564160838', 'newbalanceDest': 1254956.07}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 202332.08, 'nameOrig': 'C1408279755', 'newbalanceOrig': 0.0, 'nameDest': 'C453211571', 'newbalanceDest': 3461666.05}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 55105.9, 'nameOrig': 'C2007486296', 'newbalanceOrig': 0.0, 'nameDest': 'C932583850', 'newbalanceDest': 2719172.89}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 171508.59, 'nameOrig': 'C1033348658', 'newbalanceOrig': 0.0, 'nameDest': 'C1971489295', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 178439.26, 'nameOrig': 'C1634723627', 'newbalanceOrig': 0.0, 'nameDest': 'C2083562754', 'newbalanceDest': 1186556.81}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 88834.86, 'nameOrig': 'C938463537', 'newbalanceOrig': 0.0, 'nameDest': 'C985934102', 'newbalanceDest': 971418.91}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 210370.09, 'nameOrig': 'C2121995675', 'newbalanceOrig': 0.0, 'nameDest': 'C1170794006', 'newbalanceDest': 22190.99}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 36437.06, 'nameOrig': 'C2120063568', 'newbalanceOrig': 0.0, 'nameDest': 'C1740000325', 'newbalanceDest': 1363368.51}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 82691.56, 'nameOrig': 'C1620409359', 'newbalanceOrig': 0.0, 'nameDest': 'C248609774', 'newbalanceDest': 6453430.91}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 338767.1, 'nameOrig': 'C691691381', 'newbalanceOrig': 0.0, 'nameDest': 'C453211571', 'newbalanceDest': 3461666.05}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 187728.59, 'nameOrig': 'C264978436', 'newbalanceOrig': 0.0, 'nameDest': 'C1360767589', 'newbalanceDest': 2107965.39}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 271002.7, 'nameOrig': 'C500618423', 'newbalanceOrig': 0.0, 'nameDest': 'C451111351', 'newbalanceDest': 3940085.21}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 323105.08, 'nameOrig': 'C1458091526', 'newbalanceOrig': 0.0, 'nameDest': 'C747464370', 'newbalanceDest': 1567434.81}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 10782.94, 'nameOrig': 'C768776793', 'newbalanceOrig': 0.0, 'nameDest': 'C796533847', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 89962.11, 'nameOrig': 'C2018260103', 'newbalanceOrig': 0.0, 'nameDest': 'C240650537', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 101940.14, 'nameOrig': 'C1393828949', 'newbalanceOrig': 0.0, 'nameDest': 'C357863579', 'newbalanceDest': 92307.65}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 163100.34, 'nameOrig': 'C1088417975', 'newbalanceOrig': 0.0, 'nameDest': 'C401424608', 'newbalanceDest': 1178808.14}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 136030.66, 'nameOrig': 'C2036775591', 'newbalanceOrig': 0.0, 'nameDest': 'C757108857', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 68912.23, 'nameOrig': 'C1620529408', 'newbalanceOrig': 0.0, 'nameDest': 'C1688019098', 'newbalanceDest': 97263.78}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 73464.06, 'nameOrig': 'C307488715', 'newbalanceOrig': 0.0, 'nameDest': 'C1789550256', 'newbalanceDest': 4619798.56}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 106117.28, 'nameOrig': 'C758572926', 'newbalanceOrig': 0.0, 'nameDest': 'C476402209', 'newbalanceDest': 51513.44}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 503333.79, 'nameOrig': 'C1640612861', 'newbalanceOrig': 0.0, 'nameDest': 'C985934102', 'newbalanceDest': 971418.91}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 71991.42, 'nameOrig': 'C990679445', 'newbalanceOrig': 0.0, 'nameDest': 'C557041912', 'newbalanceDest': 557537.26}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 91379.93, 'nameOrig': 'C913065088', 'newbalanceOrig': 0.0, 'nameDest': 'C401424608', 'newbalanceDest': 1178808.14}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 26759.05, 'nameOrig': 'C746280996', 'newbalanceOrig': 0.0, 'nameDest': 'C1360767589', 'newbalanceDest': 2107965.39}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 128487.35, 'nameOrig': 'C50503805', 'newbalanceOrig': 0.0, 'nameDest': 'C747464370', 'newbalanceDest': 1567434.81}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 252908.87, 'nameOrig': 'C1557989809', 'newbalanceOrig': 0.0, 'nameDest': 'C33524623', 'newbalanceDest': 1517262.16}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 64489.64, 'nameOrig': 'C146874094', 'newbalanceOrig': 0.0, 'nameDest': 'C1297685781', 'newbalanceDest': 16997.22}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 171369.73, 'nameOrig': 'C2123222442', 'newbalanceOrig': 0.0, 'nameDest': 'C451111351', 'newbalanceDest': 3940085.21}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 4493.29, 'nameOrig': 'C1746570062', 'newbalanceOrig': 3764.71, 'nameDest': 'M1555990397', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 12121.5, 'nameOrig': 'C1544078442', 'newbalanceOrig': 84936.5, 'nameDest': 'M1291367132', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 2278.19, 'nameOrig': 'C1887699190', 'newbalanceOrig': 0.0, 'nameDest': 'M1479140596', 'newbalanceDest': 0.0}

Records = {'step': 1, 'type': 'PAYMENT', 'amount': 7707.44, 'nameOrig': 'C1108889615', 'newbalanceOrig': 92119.56, 'nameDest': 'M1275028674', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 4013.02, 'nameOrig': 'C455888635', 'newbalanceOrig': 88106.55, 'nameDest': 'M204805934', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 5775.15, 'nameOrig': 'C204322447', 'newbalanceOrig': 126553.85, 'nameDest': 'M1019484860', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 4843.93, 'nameOrig': 'C1164365897', 'newbalanceOrig': 46874.07, 'nameDest': 'M1640899500', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 2397.82, 'nameOrig': 'C3565780', 'newbalanceOrig': 18023.18, 'nameDest': 'M473666452', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 4391.44, 'nameOrig': 'C1865219266', 'newbalanceOrig': 0.0, 'nameDest': 'M2138005960', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'DEBIT', 'amount': 4497.87, 'nameOrig': 'C1278002745', 'newbalanceOrig': 102890.13, 'nameDest': 'C510113906', 'newbalanceDest': 5417.23}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 7452.89, 'nameOrig': 'C214649627', 'newbalanceOrig': 94944.11, 'nameDest': 'M67730604', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 3930.81, 'nameOrig': 'C15477956', 'newbalanceOrig': 2101.19, 'nameDest': 'M710623214', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 71532.24, 'nameOrig': 'C2082351661', 'newbalanceOrig': 0.0, 'nameDest': 'C1810132623', 'newbalanceDest': 97128.19}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 61159.51, 'nameOrig': 'C859690270', 'newbalanceOrig': 0.0, 'nameDest': 'C476402209', 'newbalanceDest': 51513.44}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 12401.9, 'nameOrig': 'C1389774257', 'newbalanceOrig': 0.0, 'nameDest': 'C1096283470', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'CASH_OUT', 'amount': 32702.61, 'nameOrig': 'C553759818', 'newbalanceOrig': 0.0, 'nameDest': 'C75457651', 'newbalanceDest': 31469.78}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 6926.67, 'nameOrig': 'C751021317', 'newbalanceOrig': 146000.33, 'nameDest': 'M1896552614', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'PAYMENT', 'amount': 893.57, 'nameOrig': 'C294658299', 'newbalanceOrig': 9782.43, 'nameDest': 'M1033856359', 'newbalanceDest': 0.0}
Records = {'step': 1, 'type': 'TRANSFER', 'amount': 480222.51, 'nameOrig': 'C201677908', 'newbalanceOrig': 0.0, 'nameDest': 'C451111351', 'newbalanceDest': 3940085.21}

In [ ]:
data

In [ ]:
import pandas as pd
import urllib.parse

from sqlalchemy import create_engine

# Informasi koneksi ke PostgreSQL
username = "ftde01"
password = "ftde01!@#"
host = "34.50.87.186"
port = "5432"
database = "stream_processing"
password = urllib.parse.quote_plus(password)

# URL koneksi ke PostgreSQL
db_url = f"postgresql://{username}:{password}@{host}:{port}/{database}"
engine = create_engine(db_url)

In [ ]:
df = pd.read_sql_query('SELECT * FROM old_information;', engine)
df.head(5)

In [ ]:
df.columns

### **Join Data From Producer Kafka and Database PostgreSQL**

In [50]:
produder = pd.DataFrame([data])
produder

,step,type,amount,nameOrig,newbalanceOrig,nameDest,newbalanceDest
0,1,PAYMENT,2131.84,C1987977423,0.0,M61073295,0.0

In [54]:
data = produder.merge(df, how='inner', on=['nameOrig','nameDest'])
predict = data.drop(['nameOrig','nameDest'], axis=1)
predict = predict.to_dict('index')[0]
predict

{'step': 1,
 'type': 'PAYMENT',
 'amount': 2131.84,
 'newbalanceOrig': 0.0,
 'newbalanceDest': 0.0,
 'oldbalanceOrg': 224.0,
 'oldbalanceDest': 0.0}

### **Precit Fraud Detection**

In [21]:
from modelling import FraudModel

In [22]:
#parameter inputan path
import os

path = os.getcwd()
path = path + "\\modelling\\"
path

'C:\\Users\\10698\\Documents\\DIGITAL SKOLA\\DE - STREAM PROCESSING\\modelling\\'

In [27]:
result = FraudModel.runModel(predict, path)
result

'White List'

In [55]:
data['predict'] = result
data

,step,type,amount,nameOrig,newbalanceOrig,nameDest,newbalanceDest,oldbalanceOrg,oldbalanceDest,predict
0,1,PAYMENT,2131.84,C1987977423,0.0,M61073295,0.0,224.0,0.0,White List

### **Inser MongoDB**

In [57]:
from pymongo import MongoClient
import os
from dotenv import load_dotenv

# Mengatur koneksi ke MongoDB
mongodb_url = os.getenv("MONGODB_URL")
mongo_client = MongoClient(mongodb_url)

db = mongo_client["ftde01"]
collection = db["project4-collection"]

if isinstance(data.to_dict('index')[0], list):
    collection.insert_many(data.to_dict('index')[0])
else:
    collection.insert_one(data.to_dict('index')[0])        
    print("Data telah disimpan ke MongoDB")

Data telah disimpan ke MongoDB

In [58]:
mongo_client = MongoClient("mongodb://admin:password@34.50.87.186:27017/")
db = mongo_client["ftde01"]
collection = db["project4-collection"]
    
# Membaca data dari MongoDB ke dalam list of dictionaries
data_from_mongo = list(collection.find())
    
# Membaca data ke dalam DataFrame
df = pd.DataFrame(data_from_mongo)
df

,_id,step,type,amount,nameOrig,newbalanceOrig,nameDest,newbalanceDest,oldbalanceOrg,oldbalanceDest,predict
0,668a24415444906cb867cdba,1,PAYMENT,2131.84,C1987977423,0.0,M61073295,0.0,224.0,0.0,White List